<app-usernav></app-usernav>
<div class="page-heading about-heading header-text" style="background-image: 'url(images/heading-1-1920x500.jpg)'">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="text-content">
            <h4>About us</h4>
            </div>
        </div>
        </div>
    </div>
    </div>
    <div class="best-features about-features">
    <div class="container">
        <div class="row">
        <div class="col-md-12">
            <div class="section-heading">
            <h2>We are providing car on rents</h2>
            </div>
        </div>
        <div class="col-md-6">
            <div class="right-image">
            <img src="images/about-1-570x350.jpg" alt />
            </div>
        </div>
        <div class="col-md-6">
            <div class="left-content">
            <h4>Lorem ipsum dolor sit amet.</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed voluptate nihil eum consectetur similique? Consectetur, quod, incidunt, harum nisi dolores delectus reprehenderit voluptatem perferendis dicta dolorem non blanditiis ex fugiat. Lorem ipsum dolor sit amet, consectetur adipisicing elit.<br /><br />Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, consequuntur, modi mollitia corporis ipsa voluptate corrupti eum ratione ex ea praesentium quibusdam? Aut, in eum facere corrupti necessitatibus perspiciatis quis.</p>            
            </div>
        </div>
        </div>
    </div>
    </div>
