<app-adminnav></app-adminnav>
<div class='content-wrapper p-2'>
    <div
      class='container-fluid shadow p-2 bg-white'
      style="min-height: '88vh'">
      <h4 class='p-2 mb-3 border-bottom border-success'>Variants</h4>
      <div class='row'>
        <div class='col-sm-8'>
          <table class='table table-bordered table-sm'>
            <thead>
              <tr>
                  <th>Name</th>
                  <th>Company</th>
                  <th>Price(per day)</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of variants">
                  <td><img src="http://localhost:5000/{{item.photo}}" style="width:100px" />{{item.name}}</td>
                  <td>{{item.company.name}}</td>
                  <td>Rs.{{item.price}}</td>
                <td><button class="btn btn-danger btn-sm" (click)="deleteVariant(item.variantId)">Delete</button></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class='col-sm-4'>
          <form  [formGroup]="fg" (submit)="saveVariant()" >
            <div class='form-group'>
              <label>Name</label>
              <input
                type='text'                
                class='form-control'
                name='name'
                formControlName="name"
              />
            </div>
            <div class='form-group'>
              <label>Company</label>
              <select                
                class='form-control'
                name='company'
                formControlName="company"
              >
              <option value="">Select Company</option>
              <option *ngFor="let item of companies" value={{item.companyId}}>{{item.name}}</option>
            </select>
            </div>
            <div class='form-group'>
              <label>Price per day</label>
              <input
                type='text'                
                class='form-control'
                name='price'
                formControlName="price"
              />
            </div>
            <div class='form-group'>
              <label>Photo</label>
              <input
                type='file'                
                class='form-control'
                name='file'
                formControlName="file"
                (change)="onFileChange($event)"
              />
            </div>
            <input
              type='submit'              
              class='btn btn-primary btn-sm'
              value='Save Company'
            />
          </form>
        </div>
      </div>
    </div>
  </div>
