<nav class="navbar navbar-expand-lg">
    <div class="container">
      <a class="navbar-brand" [routerLink]="['/']"><h2>Car <em>Car Rental</em></h2></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item"><a class="nav-link" [routerLink]="['/products']">Cars</a></li>

          <li *ngIf="isloggedIn" class="nav-item"><a class="nav-link" [routerLink]="['/mybookings']">My Bookings</a></li>
          <li *ngIf="isloggedIn" class="nav-item"><a class="nav-link" [routerLink]="['/']">Hi {{loggedInName}}</a></li>

          <li *ngIf="isloggedIn" class="nav-item"><a class="nav-link" (click)="logout()">Logout</a></li>
          <li *ngIf="!isloggedIn" class="nav-item"><a class="nav-link" [routerLink]="['/about']">About Us</a></li>
          <li *ngIf="!isloggedIn" class="nav-item"><a class="nav-link" [routerLink]="['/contact']">Contact Us</a></li>
          <li *ngIf="!isloggedIn" class="nav-item"><a class="nav-link" [routerLink]="['/register']">Register</a></li>
          <li *ngIf="!isloggedIn" class="nav-item"><a class="nav-link" [routerLink]="['/login']">Login</a></li>                    
        </ul>
      </div>
    </div>
  </nav>