<app-adminnav></app-adminnav>
<div class='content-wrapper p-2'>
    <div class='container-fluid shadow p-2 bg-white'
      style="min-height: '88vh'">
      <h4 class='p-2 border-bothrefm border-success'>Admin Dashboard</h4>
      <div class='row'>
        <div class='col-sm-3'>
          <div class='card shadow m-2'>
            <div class='card-body p-3'>
              <h5>Registered Users</h5>
              <h5></h5>
            </div>

            <div class='card-footer'>
              <a href='/cushrefmers'>View Details</a>
            </div>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='card shadow m-2'>
            <div class='card-body p-3'>
              <h5>Companies</h5>
              <h5></h5>
            </div>
            <div class='card-footer'>
              <a href='/companies'>View Details</a>
            </div>
          </div>
        </div>

        <div class='col-sm-3'>
          <div class='card shadow m-2'>
            <div class='card-body p-3'>
              <h5>Variants</h5>
              <h5></h5>
            </div>
            <div class='card-footer'>
              <a href='/variants'>View Details</a>
            </div>
          </div>
        </div>
        <div class='col-sm-3'>
          <div class='card shadow m-2'>
            <div class='card-body p-3'>
              <h5>Bookings</h5>
              <h5></h5>
            </div>
            <div class='card-footer'>
              <a href='/bookings'>View Details</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
